h1 {
    color: gold;
}


ul{
list-style: none;
padding-left: 0%;
text-align: center;
padding-left: 0%;
width: 50%;
margin: auto;
}



ul>li{
    border: 3px outset; 
   display: inline-block;
color: green;
}


img{

display: -moz-grid-line;
width: 10%;
margin: auto;

}
